body {
	background-color: #62a2ca;
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.chimney {
	width: 200px;
	height: 1000px;
}

.icicle {
	width: 200px;
	height: 1000px;
}

.coin{
    width: 60px;
    height: 60px;
}

#score{
    font-weight: bold;
    font-size: 50px;
    position: relative;
    margin-left: 80%;
}
