body {
	background-color: #62a2ca;
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.chimney {
	width: 200px;
	height: 1000px;
}

.icicle {
	width: 200px;
	height: 1000px;
}

.coin{
    width: 60px;
    height: 60px;
}

.present{
	width: 40px;
	height: auto;
}

#score{
    font-weight: bold;
    font-size: 50px;
    position: relative;
    margin-left: 80%;
}

#player{
	top: 50%;
	left: 20%;
	position: absolute;
	display: inline-block;
	z-index: 2;
}