/* TODO */

body {
	background-color: #d1d6cf;
	margin-top: 0;
	font-family: 'Mountains of Christmas', cursive;
}

.container {
	background: #f8dccd;
	height: 82vh;
	width: 67vw;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.header {
	text-align: center;
	padding-top: 10%;
	font-size: 80px;
	margin-top: 0;
}

a {
	text-decoration: none;
	color: white;
}

.button {
	display: inline-block;
	background-color: #f29b67;
	text-align: center;
	padding: 5px;
	font-size: 20px;
	border: white solid 5px;
	border-radius: 10%;
}

/* move slightly up on hover */
.button:hover {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

/* TODO */

.back {
	height: 60px;
	float: left;
	padding-top: 10px;
	padding-left: 15px;
}

.character {
	width: 30%;
	height: 100%;
}

.currChar {
	height: 800px;
	display: inline-block;
}
