.leaderboard {
	/* background: #f8dccd; */
	height: 82vh;
	width: 67vw;
	text-align: center;
	position: relative;
	/* top: 100%; */
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
	/* margin-top: 500px; */
	margin-top: 400px;
	/* background-image: url(../../images/gamebg.jpg); */
}

body {
	background-color: #d1d6cf;
	margin-top: 0;
	font-family: 'Mountains of Christmas', cursive;
	background-image: url("../../images/bg.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
}

ol {
	display: table;
	margin: 0 auto;
	position: absolute;
	left: 47%;
	transform: translate(-50%, -50%);
	margin-top: 300px;
	font-size: 20px;
}

a .back {
	position: absolute;
	height: 90px;
	float: left;
	top: 0%;
	left: 0%;
	z-index: 2;
}

.back:hover {
	opacity: 80%;
}

.wishlist {
	position: absolute; 
	text-align: center;
	height: 650px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.wishlistTitle {
	position: absolute;
	left: 48%;
	transform: translate(-50%, -50%);
	margin-top: 100px;
}